<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title>Bekräfta Beställning</title>
    <th:block th:insert="fragments/layout :: css"/>
</head>

<body>
<div th:insert="fragments/layout :: header"></div>
<div class="nav" role="navigation">
    <ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
    </ul>
</div>

<div id="create-logiskAdress" class="content scaffold-create" role="main">
    <h1>Bekräfta Beställning</h1>

    <div th:insert="fragments/crud :: message-banner"></div>

    <table>
        <thead>
        <tr>
            <th width="15%">Beställningsinformation</th>
            <th width="70%"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,status : ${metadata}" th:class="${status.even}? 'even' : 'odd'">
            <td th:text="${row.key}"></td>
            <td th:text="${row.value}"></td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th width="15%">Inkludera</th>
            <th width="70%"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,status : ${inkludera}" th:class="${status.even}? 'even' : 'odd'">
            <td th:text="${row.key}"></td>
            <td>
                <ul th:each="item : ${row.value}">
                    <li th:class="${item.warning} ? 'warning' : ''"
                        th:text="${item.status} + ' : ' + ${item.value}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th width="15%">Exkludera</th>
            <th width="70%"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,status : ${exkludera}" th:class="${status.even}? 'even' : 'odd'">
            <td th:text="${row.key}"></td>
            <td>
                <ul th:each="item : ${row.value}">
                    <li th:class="${item.warning} ? 'warning' : ''"
                        th:text="${item.status} + ' : ' + ${item.value}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <pre th:text="${rapport}"></pre>

    <form method="POST" th:action="@{/bestallning/save}">
        <input type="hidden" name="bestallningHash" th:value="${bestallningHash}"/>
        <fieldset class="buttons">
            <input type="submit" class="save" name="save" value="Spara"/>
            <input type="submit" class="cancel" name="cancel" value="Avbryt"/>
        </fieldset>
    </form>
</div>
</body>
</html>