<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title>Skapa Beställning</title>
    <th:block th:insert="~{fragments/layout::css}" />
    <style>
        #bestnr::-webkit-inner-spin-button,
        #bestnr::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        #bestnr {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>
<div th:insert="~{fragments/layout::header}" />
<div class="nav" role="navigation">
    <ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
    </ul>
</div>

<div id="create-logiskAdress" class="content scaffold-create" role="main">
    <h1>Skapa Beställning</h1>

    <div th:insert="~{fragments/crud::message-banner}" />

    <form th:if="${bestallningOn}" method="POST" th:action="@{/bestallning}">
        <fieldset class="form">
            <div class="fieldcontain">
                <label for="urlIndex">Källa för hämtning</label>
                <select name="urlIndex" id="urlIndex" th:disabled="${#lists.size(bestallningUrls) < 2}">
                    <option th:each="url, status : *{bestallningUrls}"
                            th:value="${status.index}"
                            th:text="${url}"
                            th:selected="${status.index == urlIndex}">
                    </option>
                </select>
            </div>
            <div class="fieldcontain">
                <label for="bestallningsNummer">Beställningsnummer</label>
                <input type="number" name="bestallningsNummer" th:value="${bestallningsNummer} ?: ''" id="bestnr" required/>
                <input type="submit" name="fetch" value="Hämta" id="fetchbtn"/>
            </div>
        </fieldset>
    </form>

    <form method="POST" th:action="@{/bestallning/confirm}">
        <fieldset class="form">
            <div class="fieldcontain required">
                <input type="hidden" name="bestallningsNummer" th:value="${bestallningsNummer} ?: ''"/>
                <label for="bestallningJson">Beställning<span class="required-indicator">*</span></label>
                <textarea name="bestallningJson" cols="100" rows="10" required=""
                          style="width: 800px; height: 400px;" th:text="${bestallningJson} ?: ''"></textarea>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="validate" value="Granska"/>
        </fieldset>
    </form>
</div>

</body>
</html>