<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title>Reset cache</title>
    <th:block th:insert="fragments/layout :: css"/>
</head>
<body>
<div th:insert="fragments/layout :: header"></div>
<div class="nav" role="navigation">
    <ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
    </ul>
</div>
<div class="content" role="main">
    <h1>Reset cache</h1>
    <div th:if="${takServicesUrls == null && applicationsUrls == null}" class="errors" role="alert">
        Konfiguration av adresser för Reset cache saknas.
    </div>
    <p>Funktionen används för att propagera ändringar i TAK till övriga komponenter.
    Konfigurerade reset-adresser anropas i två steg:
    <ol>
        <li>Reset av TAK-services gör att senaste (eller annan angiven) publicerad version hämtas från TAK-databasen.</li>
        <li>Reset av applikationer (t.ex. VP) gör att aktuell information hämtas från TAK-services.</li>
    </ol>
    </p>
    <form method="POST" th:action="@{/reset/perform}" target="result_frame">
        <table>
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Cache</th>
                <th scope="col">Publicerad version</th>
                <th scope="col">Adresser</th>
            </tr>
            </thead>
            <tbody>
            <tr class="even">
                <td><input type="checkbox" name="resetTakServices" checked="checked"/></td>
                <td>TAK Services</td>
                <td><input type="text" name="pubVersion" th:value="${pubVersion} ?: ''" placeholder="Senaste"></td>
                <td>
                    <ul th:unless="${takServicesUrls == null}">
                        <li th:each="u : ${takServicesUrls}" th:text="${u}"></li>
                    </ul>
                    <p th:if="${applicationsUrls == null}">Konfiguration saknas</p>
                </td>
            </tr>
            <tr class="odd">
                <td><input type="checkbox" name="resetApplications" checked="checked"/></td>
                <td>Applikationer</td>
                <td></td>
                <td>
                    <ul th:unless="${applicationsUrls == null}">
                        <li th:each="u : ${applicationsUrls}" th:text="${u}"></li>
                    </ul>
                    <p th:if="${applicationsUrls == null}">Konfiguration saknas</p>
                </td>
            </tr>
            </tbody>
        </table>

        <fieldset class="buttons">
            <input type="submit" name="perform" value="Utför"/>
        </fieldset>
    </form>

    <div class="content">
        <h2>Resultat</h2>
        <iframe name="result_frame" style="width:90%; height:10em; margin: 1em;"></iframe>
    </div>
</div>

</body>
</html>