<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="'Redigera ' + ${entityName}"></title>
    <th:block th:insert="fragments/layout :: css"/>
</head>

<body>
<div th:insert="fragments/layout :: header"></div>
<div th:insert="fragments/crud :: navigation-show-edit"></div>

<div id="edit-entity" class="content" role="main">
    <h1 th:text="'Redigera ' + ${entityName}"></h1>

    <div th:insert="fragments/crud :: message-banner"></div>

    <form method="POST" th:action="@{${basePath} + '/update'}" th:object="${instance}">

        <div th:insert="fragments/crud :: errors-list"></div>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <fieldset th:replace="__${entityKey}__/_form :: entityForm"></fieldset>
        </fieldset>
        <div class="buttons">
            <input type="submit" class="save" value="Uppdatera"/>
        </div>
    </form>
</div>
</body>

</html>