<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping package="se.skl.tp.vagval.admin.core.entity"/>
		<mapping class="se.skl.tp.vagval.admin.core.entity.Anropsbehorighet"/>
		<mapping class="se.skl.tp.vagval.admin.core.entity.LogiskAdress"/>
		<mapping class="se.skl.tp.vagval.admin.core.entity.LogiskAdressat"/>
		<mapping class="se.skl.tp.vagval.admin.core.entity.RivVersion"/>
		<mapping class="se.skl.tp.vagval.admin.core.entity.Tjanstekomponent"/>
		<mapping class="se.skl.tp.vagval.admin.core.entity.Tjanstekontrakt"/>
	</session-factory>
</hibernate-configuration>