<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<fieldset class="form" th:fragment="filterForm">
    <div id="tjanstekontrakt" class="fieldcontain required"
         th:classappend="${#fields.hasErrors('anropsbehorighet.tjanstekontrakt')}? 'error'">
        <label for="selectTjanstekontrakt">Tjänstekontrakt
        </label>

        <!-- var is anropsbehorighet.tjanstekontrakt -->
        <select class="form-control" id="selectTjanstekontrakt" name="options">
            <option value="0">Välj Tjänstekontrakt</option>
            <option th:each="option : ${options}"
                    th:value="${option}"
                    th:text="${option}">
                <!-- th:selected="${option.equals(instance.option)}"> -->
            </option>
        </select>
    </div>

    <div id="tjanstekomponent" class="fieldcontain required"
         th:classappend="${#fields.hasErrors('anropsbehorighet.tjanstekonsument')}? 'error'">
        <label for="selectTjanstekomponent">Tjänstekomponent
        </label>

        <!-- var is anropsbehorighet.tjanstekonsument -->
        <select class="form-control" id="selectTjanstekomponent" name="options">
            <option value="0">Välj Tjänstekomponent</option>
            <option th:each="option : ${options}"
                    th:value="${option}"
                    th:text="${option}">
                <!-- th:selected="${option.equals(instance.option)}"> -->
            </option>
        </select>
    </div>

    <div id="logiskAdress" class="fieldcontain required"
         th:classappend="${#fields.hasErrors('anropsbehorighet.logiskAdress')}? 'error'">
        <label for="selectLogiskAdress">Logisk Adress
        </label>

        <!-- var is anropsbehorighet.logiskAdress -->
        <select class="form-control" id="selectLogiskAdress" name="options">
            <option value="0">Välj Logisk Adress</option>
            <option th:each="option : ${options}"
                    th:value="${option}"
                    th:text="${option}">
                <!-- th:selected="${option.equals(instance.option)}"> -->
            </option>
        </select>
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('servicedomain')}? 'error'">
        <label for="serviceDomain">Service Domain
            <span class="required-indicator">*</span>
        </label>

        <input th:field="*{servicedomain}" id="servicedomain" type="text" size="40" maxlength="255" required="">
    </div>

    <div th:if="${instance.id}"> <!-- Do not display item list during creation of new object. -->
        <div class="fieldcontain required">
            <label for="categorizationList">
                Filterkategorier
            </label>
            <span id="categorizationList">

                <ul class="one-to-many">
                    <th:block th:each="entity : ${instance.categorization}">
                        <li th:unless="${entity.isDeletedInPublishedVersion()}">
                            <span th:insert="fragments/crud :: chooseEntityIcon"></span>
                            <a th:href="'/filterCategorization/' + ${entity.id}" th:text="${entity.toString()}"></a>
                        </li>
                    </th:block>
                </ul>
                <br>
                <b>LÄNK FÖR 'LÄGG TILL FILTERKATEGORI' HÄR, MEN BARA I EDIT! (MED FÖRIFYLLDA FÄLT)</b>
            </span>
        </div>
    </div>

</fieldset>