<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">

<fieldset class="form" th:fragment="entityForm">

    <!-- Select2 Initialization (needed per page) -->
    <div th:replace="~{fragments/crud::select2-selector-init}"></div>

    <!-- SELECT 2 SELECTOR -->
    <!-- TJÄNSTEKONTRAKT -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('tjanstekontrakt')}? 'error'">
        <label for="select-tjanstekontrakt">Tjänstekontrakt<span class="required-indicator">*</span></label>

        <select class="tak-web-select2-selector" id="select-tjanstekontrakt" name="tjanstekontrakt"
                th:with="selectionTK = ${preSelect_tjanstekontrakt}? ${preSelect_tjanstekontrakt_value} : ${instance.tjanstekontrakt?.id}">

            <option th:each="option : ${tjanstekontrakt_selectable_options}"
                    th:value="${option.id}"
                    th:text="${option}"
                    th:selected="${option.id.equals(selectionTK)}">
            </option>
        </select>
    </div>

    <!-- SELECT 2 SELECTOR -->
    <!-- LOGISK ADRESS -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('logiskAdress')}? 'error'">
        <label for="select-logiskAdress">Logisk Adress<span class="required-indicator">*</span></label>

        <select class="tak-web-select2-selector" id="select-logiskAdress" name="logiskAdress"
                th:with="selectionLA = ${preSelect_logiskAdress}? ${preSelect_logiskAdress_value} : ${instance.logiskAdress?.id}">

            <option th:each="option : ${logiskadress_selectable_options}"
                    th:value="${option.id}"
                    th:text="${option}"
                    th:selected="${option.id.equals(selectionLA)}">
            </option>
        </select>
    </div>

    <!-- SELECT 2 SELECTOR -->
    <!-- ANROPSADRESS -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('anropsAdress')}? 'error'">
        <label for="select-anropsAdress">Anropsadress<span class="required-indicator">*</span></label>

        <select class="tak-web-select2-selector" id="select-anropsAdress" name="anropsAdress"
                th:with="selectionAA = ${preSelect_anropsAdress}? ${preSelect_anropsAdress_value} : ${instance.anropsAdress?.id}">

            <option th:each="option : ${anropsadress_selectable_options}"
                    th:value="${option.id}"
                    th:text="${option.adress} + ' [' + ${option.rivTaProfil} + ']'"
                    th:selected="${option.id.equals(selectionAA)}">
            </option>
        </select>
    </div>

    <!-- DATE PICKER -->
    <!-- FROM TIDPUNKT -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('fromTidpunkt')}? 'error'">
        <label for="fromTidpunkt">From Tidpunkt<span class="required-indicator">*</span></label>
        <input type="date" th:field="*{fromTidpunkt}" id="fromTidpunkt" required=""/>
    </div>

    <!-- DATE PICKER -->
    <!-- TOM TIDPUNKT -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('tomTidpunkt')}? 'error'">
        <label for="tomTidpunkt">Tom Tidpunkt<span class="required-indicator">*</span></label>
        <input type="date" th:field="*{tomTidpunkt}" id="tomTidpunkt" required=""/>
    </div>

</fieldset>
</html>