<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<fieldset class="form" th:fragment="anropsadressForm">

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('adress')}? 'error'">
        <label for="adress">Adress
            <span class="required-indicator">*</span>
        </label>
        <input th:field="*{adress}" type="text" size="40" maxlength="255" required="">
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('tjanstekomponent')}? 'error'">
        <label for="tjanstekomponent">Tjänstekomponent
            <span class="required-indicator">*</span>
        </label>
        <select class="form-control" id="tjanstekomponent" name="options" required="">
            <option value="0">Välj Tjänstekomponent</option>
            <option th:each="option : ${options}"
                    th:value="${option}"
                    th:text="${option}">
                <!-- th:selected="${option.equals(instance.option)}"> -->
            </option>
        </select>
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('rivTaProfil')}? 'error'">
        <label for="rivTaProfil">Riv-TA Profil
            <span class="required-indicator">*</span>
        </label>
        <select class="form-control" id="rivTaProfil" name="options" required="">
            <option value="0">Välj Riv-TA profil</option>
            <option th:each="option : ${options}"
                    th:value="${option}"
                    th:text="${option}">
                <!-- th:selected="${option.equals(instance.option)}"> -->
            </option>
        </select>
    </div>


    <div th:if="${instance.id}"> <!-- Do not display item list during creation of new object. -->
        <div class="fieldcontain required">
            <label for="vagvaloptions">
                Vägval
            </label>
            <span>
                <ul class="one-to-many" id="vagvaloptions">
                    <li th:each="item : ${instance.vagVal}"
                        th:text="${item}"></li>
                </ul>
                <br>
                <b>LÄNK FÖR 'LÄGG TILL ANROPSBEHÖRIGHET' HÄR, MEN BARA I EDIT! (MED FÖRIFYLLDA FÄLT)</b>
            </span>
        </div>
    </div>

</fieldset>