apiVersion: v1
kind: ConfigMap
metadata:
  name: tak-configmap-default
data:
  # Database settings
  spring.datasource.driver-class-name: com.mysql.cj.jdbc.Driver
  spring.datasource.url: jdbc:mysql://localhost:3306/takv3?autoReconnect=true

  # Logging
  spring.profiles.active: production,ecslogging,forwardauth

  tak.web.resource.dir: /etc/tak
  
  # Order handling (default off)
  {{ if .Values.initContainer.certGen }}
  tak.bestallning.on: "true"
  tak.bestallning.url.0.name: FRIENDLY
  tak.bestallning.url.0.url: https://BS.URL/bs-api/api/takOrders
  tak.bestallning.cert: {{ .Values.pem_to_pfx.consumer.pfxFile }}
  tak.bestallning.certType: pkcs12
  tak.bestallning.pw: {{ .Values.pem_to_pfx.consumer.password }}
  tak.bestallning.serverCert: {{ .Values.pem_to_pfx.trust.pfxFile }}
  tak.bestallning.serverCertType: pkcs12
  tak.bestallning.serverPw: {{ .Values.pem_to_pfx.trust.password }}
  {{- end }}

  # TAK Cache reset settings
  tak.monitor.reset.use-pod-lookup: "true"
  tak.monitor.reset.pod-namespace: {{ $.Release.Namespace }}

  tak.monitor.reset.nodes.0.label: app.kubernetes.io/name=tak-services
  tak.monitor.reset.nodes.0.url: http://0.0.0.0:8080/tak-services/reset/pv
  tak.monitor.reset.nodes.1.label: app.kubernetes.io/name=vp
  tak.monitor.reset.nodes.1.url: http://0.0.0.0:23000/resetcache
  tak.monitor.reset.nodes.2.label: app.kubernetes.io/name=kat-application
  tak.monitor.reset.nodes.2.url: http://0.0.0.0:8082/kat/resetcache
  tak.monitor.reset.nodes.3.label: app.kubernetes.io/name=agp
  tak.monitor.reset.nodes.3.url: http://0.0.0.0:8091/resetcache
  tak.monitor.reset.nodes.4.label: app.kubernetes.io/name=ei-backend
  tak.monitor.reset.nodes.4.url: http://0.0.0.0:8083/skltp-ei/resetcache

  management.server.port: "8089"
  management.endpoints.web.exposure.include: health,metrics,info,prometheus
  management.endpoint.prometheus.enabled: "true"
  
  server.tomcat.accesslog.buffered: 'false'
  server.tomcat.accesslog.directory: /dev
  server.tomcat.accesslog.enabled: 'true'
  server.tomcat.accesslog.file-date-format: ''
  server.tomcat.accesslog.prefix: std
  server.tomcat.accesslog.suffix: out
  server.tomcat.accesslog.pattern: >-
      {"@timestamp":"%{yyyy-MM-dd'T'HH:mm:ss.SSSX}t","log.level":"INFO","client.ip":"%a","url.path":"%U","url.query":"%q","http.request.method":"%m","http.response.status_code":"%s","http.response.body.bytes":"%b","http.request.referrer":"%{Referer}i","user_agent.original":"%{User-Agent}i"}
