<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<fieldset class="form" th:fragment="tjanstekontraktForm">
    <div id="idAdress" class="fieldcontain required" th:classappend="${#fields.hasErrors('namnrymd')}? 'error'">
        <label for="namnrymd">Namnrymd<span class="required-indicator">*</span></label>
        <textarea th:field="*{namnrymd}" cols="40" rows="5" maxlength="255" required="" onInput="validate(this)"/>
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('majorVersion')}? 'error'">
        <label for="majorVersion">Major version<span class="required-indicator">*</span></label>
        <select th:field="*{majorVersion}">
            <option th:each="i : ${#numbers.sequence(0, 9)}" th:value="${i}" th:text="${i}"></option>
        </select>
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('minorVersion')}? 'error'">
        <label for="minorVersion">Minor version<span class="required-indicator">*</span></label>
        <select th:field="*{minorVersion}">
            <option th:each="i : ${#numbers.sequence(0, 9)}" th:value="${i}" th:text="${i}"></option>
        </select>
    </div>

    <div class="fieldcontain" th:classappend="${#fields.hasErrors('beskrivning')}? 'error'">
        <label for="beskrivning">Beskrivning</label>
        <textarea th:field="*{beskrivning}" cols="40" rows="5" maxlength="255"/>
    </div>

    <script>
	function validate(v) {
		  var el = document.getElementById('idAdress');
		  if(v.value.match(/^[0-9a-zA-Z_:\-.]*$/))
		  	el.classList.remove('error');
		  else
		  	el.classList.add('error');
	}

    </script>
</fieldset>
</html>




