<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<fieldset class="form" th:fragment="tjanstekontraktForm">
    <div id="idAdress" class="fieldcontain required" th:classappend="${#fields.hasErrors('namnrymd')}? 'error'">
        <label for="namnrymd">Namnrymd<span class="required-indicator">*</span></label>
        <input th:field="*{namnrymd}" type="text" size="40" maxlength="255" required="" onInput="validate(this)">
        <!--textarea th:field="*{namnrymd}" cols="40" rows="5" maxlength="255" required="" /-->
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('majorVersion')}? 'error'">
        <label for="majorVersion">Major version<span class="required-indicator">*</span></label>
        <select th:field="*{majorVersion}">
            <option th:each="i : ${#numbers.sequence(0, 9)}" th:value="${i}" th:text="${i}"></option>
        </select>
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('minorVersion')}? 'error'">
        <label for="minorVersion">Minor version<span class="required-indicator">*</span></label>
        <select th:field="*{minorVersion}">
            <option th:each="i : ${#numbers.sequence(0, 9)}" th:value="${i}" th:text="${i}"></option>
        </select>
    </div>

    <div class="fieldcontain" th:classappend="${#fields.hasErrors('beskrivning')}? 'error'">
        <label for="beskrivning">Beskrivning</label>
        <textarea th:field="*{beskrivning}" cols="40" rows="5" maxlength="255"/>
    </div>

    <div th:if="${instance.id}"> <!-- Do not display item list during creation of new object. -->
        <div class="fieldcontain required">
            <label for="anropsbehorigheter">
                Anropsbehörigheter
            </label>
            <span id="anropsbehorigheter">
                <ul class="one-to-many">
                    <li th:each="item : ${instance.anropsbehorigheter}"
                        th:text="${item}"></li>
                </ul>
                <br>
                <b>LÄNK FÖR 'LÄGG TILL ANROPSBEHÖRIGHET' HÄR, MEN BARA I EDIT! (MED FÖRIFYLLDA FÄLT)</b>
            </span>
        </div>
    </div>

    <div th:if="${instance.id}"> <!-- Do not display item list during creation of new object. -->
        <div class="fieldcontain required">
            <label for="vagval">
                Vägval
            </label>
            <span>
                <ul class="one-to-many" id="vagval">
                    <li th:each="item : ${instance.vagval}"
                        th:text="${item}"></li>
                </ul>
                <br>
                <b>LÄNK FÖR 'LÄGG TILL ANROPSBEHÖRIGHET' HÄR, MEN BARA I EDIT! (MED FÖRIFYLLDA FÄLT)</b>
            </span>
        </div>
    </div>

    <script>
	function validate(v) {
		  var el = document.getElementById('idAdress');
		  if(v.value.match(/^[0-9a-zA-Z_:\-.]*$/))
		  	el.classList.remove('error');
		  else
		  	el.classList.add('error');
	}
    </script>

</fieldset>
</html>




