<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="${entityName} + ' - Lista'"></title>
    <th:block th:insert="fragments/layout :: css"/>
</head>
<body>
<div th:insert="fragments/layout :: header"/>
<div th:insert="fragments/crud :: navigation-list"/>
<div id="list-tjanstekontrakt" class="content scaffold-list" role="main">
    <h1 th:text="${entityName} + ' - Lista'"></h1>
    <div th:insert="fragments/crud :: message-banner"></div>
    <div th:insert="fragments/crud :: listFilter"></div>
    <table>
        <thead>
        <tr>
            <th scope="col" class="rightmostColumn"/>
            <th scope="col" class="rightmostColumn">PV</th>
            <th scope="col">Namnrymd</th>
            <th scope="col">Major version</th>
            <th scope="col">Minor version</th>
            <th scope="col">Beskrivning</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity,status : ${list.content}" th:class="${status.even}? 'even' : 'odd'">
            <td>
                <a th:href="@{${basePath} + '/' + ${entity.id}}">Visa
                    <th:block th:insert="fragments/crud :: chooseEntityIcon"/>
                </a>
            </td>
            <td th:text="${entity.pubVersion}"></td>
            <td th:text="${entity.namnrymd}"></td>
            <td th:text="${entity.majorVersion}"></td>
            <td th:text="${entity.minorVersion}"></td>
            <td th:text="${entity.beskrivning}"></td>
        </tr>
        </tbody>
    </table>
    <div th:insert="fragments/crud :: pagination"/>
</div>
</body>
</html>
