<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  lang="sv">
<head>
    <title th:text="${entityName} + ' - Lista'"></title>
    <th:block th:insert="~{fragments/layout::css}" />
</head>
<body>
<div th:insert="~{fragments/layout::header}" />
<div layout:replace="~{fragments/crud::navigation-list}">
    <div layout:fragment="dropdown-content">
        <a class="list" th:href="@{${basePath} + '/unmatchedByAnropsbehorighet'}" th:text="'Hitta ' + ${entityName} + ' som inte används i någon Anropsbehörighet'"></a>
        <a class="list" th:href="@{${basePath} + '/unmatchedByVagval'}" th:text="'Hitta ' + ${entityName} + ' som inte används i något vägval'"></a>
        <a class="list" th:href="@{${basePath} + '/unmatchedByAny'}" th:text="'Hitta ' + ${entityName} + ' som inte används alls'"></a>
    </div>
</div>
<div id="list-tjanstekontrakt" class="content scaffold-list" role="main">
    <h1 th:text="${entityName} + ' - ' + ${list.preDefinedFilter != null ? 'Diskrepanser' : 'Lista'}"></h1>
    <div th:insert="~{fragments/crud :: message-banner}" />

    <span th:fragment="listFilter" th:unless="${list.filterFieldOptions.isEmpty()}">
    <form method="GET" th:action="@{${basePath}}" th:object="${list}">
        <fieldset class="listFilter">
            <legend>Filtrera lista</legend>
            <input type="checkbox" th:checked="${showDeleted}" name="showDeleted" value="true" id="showDeleted" />
            <label for="showDeleted">Raderade och publicerade objekt</label><br>
            <span id="filters">
                <div th:each="filter, status : *{filters}">
                    <select name="filterFields" class="filterFields" onchange="updateFilterConditions(this)">
                        <option th:each="ffo : *{filterFieldOptions}"
                                th:value="${ffo.key}"
                                th:text="${ffo.value}"
                                th:selected="${ffo.key==filter.field}" >
                        </option>
                    </select>
                    <select name="filterConditions" class="filterConditions">
                        <option value="contains" th:selected="${#strings.equals(filter.condition, 'CONTAINS')}">Innehåller</option>
                        <option value="begins" th:selected="${#strings.equals(filter.condition, 'STARTS_WITH')}">Börjar med</option>
                        <option value="equals" th:selected="${#strings.equals(filter.condition, 'EQUALS')}">Lika med</option>
                    </select>
                    <input type="text" maxlength="90" name="filterTexts" class="filterTexts" th:value="${filter.text}" oninput="validateInput(this)">
                    <input type="button" value="Ta bort" onclick="removeFilter(this)"/>
                </div>
            </span>
            <div>
                <input type="button" value="Lägg till filter" onclick="addFilter()"/>
                <input type="submit" id="filterButton" value="Uppdatera"/>
            </div>
        </fieldset>
    </form>
    <div id="newFilter" hidden>
        <select name="filterFields" class="filterFields" onchange="updateFilterConditions(this)">
            <option th:each="ffo : ${list.filterFieldOptions}"
                    th:value="${ffo.key}"
                    th:text="${ffo.value}">
            </option>
        </select>
        <select name="filterConditions" class="filterConditions">
            <option value="contains">Innehåller</option>
            <option value="begins">Börjar med</option>
            <option value="equals">Lika med</option>
        </select>
        <input type="text" maxlength="90" name="filterTexts" class="filterTexts">
        <input type="button" value="Ta bort" onclick="removeFilter(this)"/>
    </div>
    <script>

    function addFilter() {
        let prototype = document.getElementById("newFilter");
        let copy = prototype.cloneNode(true);
        copy.removeAttribute("id");
        copy.removeAttribute("hidden");

        let selectElement = copy.querySelector(".filterFields");
        let textInput = copy.querySelector(".filterTexts");

        selectElement.addEventListener("change", function () {
            updateFilterConditions(selectElement);
        })

        updateFilterConditions(selectElement);
        document.getElementById("filters").appendChild(copy);
    }

    function removeFilter(e) {
        e.parentNode.remove();
    }

    function updateFilterConditions(selectElement) {
        let conditionSelect = selectElement.parentNode.querySelector(".filterConditions");
        let textInput = selectElement.parentNode.querySelector(".filterTexts");
        let selectedValue = selectElement.value;

    function filterNumericInput(event) {
        let filteredValue = event.target.value.replace(/[^0-9]/g, '');

        if (filteredValue.length > 4) {
            filteredValue = filteredValue.substring(0, 4);
        }

        event.target.value = filteredValue;
    }

    if (selectedValue === "majorVersion" || selectedValue === "minorVersion") {
        conditionSelect.innerHTML = '<option value="equals">Lika med</option>';
        textInput.setAttribute("type", "number");

        textInput.removeEventListener("input", textInput.previousListener);
        textInput.addEventListener("input", filterNumericInput);
        textInput.previousListener = filterNumericInput;

    } else {
        conditionSelect.innerHTML = '<option value="contains">Innehåller</option>' +
                                    '<option value="begins">Börjar med</option>' +
                                    '<option value="equals">Lika med</option>';

        textInput.removeEventListener("input", textInput.previousListener);

        textInput.setAttribute("type", "text");
    }

    if (selectedValue === "majorVersion" || selectedValue === "minorVersion") {
        conditionSelect.innerHTML = '<option value="equals">Lika med</option>';
        textInput.setAttribute("type", "number");

        textInput.removeEventListener("input", textInput.previousListener);
        textInput.addEventListener("input", filterNumericInput);
        textInput.previousListener = filterNumericInput;

        textInput.setAttribute("required", "true");

    } else {
        conditionSelect.innerHTML = '<option value="contains">Innehåller</option>' +
                                    '<option value="begins">Börjar med</option>' +
                                    '<option value="equals">Lika med</option>';

        textInput.removeEventListener("input", textInput.previousListener);
        textInput.setAttribute("type", "text");
        textInput.removeAttribute("required");
    }
}
</script>
</span>
    <form method="POST" th:action="@{${basePath} + '/confirmDelete'}">
        <table>
            <thead>
            <tr>
                <th th:replace="~{fragments/crud::selectAllTableHeader}"></th>
                <th scope="col"/>
                <th th:replace="~{fragments/crud::sortableTableHeader(field='pubVersion', heading='PV')}"></th>
                <th th:replace="~{fragments/crud::sortableTableHeader(field='namnrymd', heading='Namnrymd')}"></th>
                <th th:replace="~{fragments/crud::sortableTableHeader(field='majorVersion', heading='Major version')}"></th>
                <th th:replace="~{fragments/crud::sortableTableHeader(field='minorVersion', heading='Minor version')}"></th>
                <th th:replace="~{fragments/crud::sortableTableHeader(field='beskrivning', heading='Beskrivning')}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity,status : ${list.content}" th:class="${status.even}? 'even' : 'odd'">
                <td><input type="checkbox" name="toDelete" th:value="${entity.id}"></td>
                <td>
                    <a th:href="@{${basePath} + '/' + ${entity.id}}">Visa
                        <th:block th:insert="~{fragments/crud::chooseEntityIcon}"/>
                    </a>
                </td>
                <td th:text="${entity.pubVersion}"></td>
                <td th:text="${entity.namnrymd}"></td>
                <td th:text="${entity.majorVersion}"></td>
                <td th:text="${entity.minorVersion}"></td>
                <td th:text="${entity.beskrivning}"></td>
            </tr>
            </tbody>
        </table>
        <div class="buttons">
            <input type="submit" class="delete" value="Ta bort markerade"/>
        </div>
    </form>
    <div th:insert="~{fragments/crud::pagination}"/>
</div>
</body>
</html>
