<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="nav" role="navigation" th:fragment="navigation-list">
    <ul>
        <li><a class="home" href="/">Hem</a></li>
        <li><a class="create" th:href="@{${basePath} + '/create'}" th:text="'Skapa ' + ${entityName}"></a></li>
    </ul>
</div>

<div class="nav" role="navigation" th:fragment="navigation-show-edit">
    <ul>
        <li><a class="home" href="/">Hem</a></li>
        <li><a class="list" th:href="${basePath}" th:text="${entityName} + ' - Lista'"></a></li>
        <li><a class="create" th:href="${basePath} + '/create'" th:text="'Skapa ' + ${entityName}"></a></li>
    </ul>
</div>

<div class="nav" role="navigation" th:fragment="navigation-create">
    <ul>
        <li><a class="home" href="/">Hem</a></li>
        <li><a class="list" th:href="${basePath}" th:text="${entityName} + ' - Lista'"></a></li>
    </ul>
</div>

<span th:fragment="chooseEntityIcon">
    <span th:if="${entity.isNewlyCreated()}">
            <img src="/static/images/created.png" alt="Skapad" />
    </span>
    <span th:if="${entity.isUpdatedAfterPublishedVersion()}">
        <img src="/static/images/updated.png" alt="Uppdaterad" />
    </span>
    <span th:if="${entity.getDeleted()}">
        <img src="/static/images/trash.png" alt="Borttagen" />
    </span>
</span>

<div class="pagination" th:fragment="pagination">
    <th:block th:each="p,status : ${#numbers.sequence( 1, list.totalPages, 1)}">
        <th:block th:switch="${p}">
            <span th:case="${list.number}" class="currentStep" th:text="${p}"></span>
            <a th:case="1" th:href="@{${basePath}(offset=${list.max*(p-1)},max=${list.max})}" class="step" th:text="${p}"></a>
            <a th:case="${list.totalPages}" th:href="@{${basePath}(offset=${list.max*(p-1)},max=${list.max})}" class="step" th:text="${p}"></a>
            <span th:case="${list.number-5}" class="step gap">..</span>
            <span th:case="${list.number+5}" class="step gap">..</span>
            <a th:case="*" th:unless="${p < list.number-5 || p > list.number+5}" th:href="@{${basePath}(offset=${list.max*(p-1)},max=${list.max})}" class="step" th:text="${p}"></a>
        </th:block>
    </th:block>
</div>

</html>