<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">




<div class="nav" role="navigation" layout:fragment="navigation-list">
    <table>
        <tr>
            <td>
                <ul>
                    <li><a class="home" th:href="@{/}">Hem</a></li>
                    <li><a class="create" th:href="@{${basePath} + '/create'}" th:text="'Skapa ' + ${entityName}"></a></li>
                </ul>
            </td>
            <td>
                <div id="dropdown" class="dropdown">
                    <a class="discrepancy-scan" title="Diskrepansanalys" href="javascript:;" ><i id="ddsymbol" class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <div layout:fragment="dropdown-content">
                            <script>
                                // if no dropdown content is defined, this script will load instead which hides the dropdown menu
                                function hideDropdown() {
                                    el = document.getElementById("dropdown");
                                    el.style.display = "none";
                                }
                                window.onload = hideDropdown;
                            </script>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <script>
        // Close the dropdown if the user clicks outside of it else toggle the dropdown menu
        window.onclick = function(event) {
          if (!event.target.matches('.discrepancy-scan')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            document.getElementById("ddsymbol").classList.remove("fa-caret-left");
            for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');

              }
            }
          } else {
            var xs = document.getElementsByClassName("dropdown-content");
            document.getElementById("ddsymbol").classList.toggle("fa-caret-left");
            for(var i = 0; i < xs.length; i++) {
                xs[i].classList.toggle("show");
            }
          }
        }
    </script>
</div>















<div class="nav" role="navigation" layout:fragment="bak-navigation-list">
    <div class="lnav"><ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
        <li><a class="create" th:href="@{${basePath} + '/create'}" th:text="'Skapa ' + ${entityName}"></a></li>
    </ul>
    </div>
    <div class="rnav"><a class="nav-extra" th:text="extra" onclick='return false;' href=""></a></div>
    <div class="collapsible">
        <div layout:fragment="collapsed-content">collapsible content goes here</div>
    </div>
    <script>
        var coll = document.getElementsByClassName("nav-extra");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var collapsibles = document.getElementsByClassName("collapsible");
            for (i=0; i<collapsibles.length; i++) {
                if (collapsibles[i].style.display === "block") {
                  collapsibles[i].style.display = "none";
                } else {
                  collapsibles[i].style.display = "block";
                }
            }
          });
        }
    </script>
</div>

<div class="nav" role="navigation" th:fragment="navigation-show-edit">
    <ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
        <li><a class="list" th:href="@{${basePath}}" th:text="${entityName} + ' - Lista'"></a></li>
        <li><a class="create" th:href="@{${basePath} + '/create'}" th:text="'Skapa ' + ${entityName}"></a></li>
    </ul>
</div>

<div class="nav" role="navigation" th:fragment="navigation-create">
    <ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
        <li><a class="list" th:href="@{${basePath}}" th:text="${entityName} + ' - Lista'"></a></li>
    </ul>
</div>

<span th:fragment="chooseEntityIcon">
    <span th:if="${entity.isNewlyCreated()}">
        <img th:src="@{/static/images/created.png}" alt="Skapad"/>
    </span>
    <span th:if="${entity.isUpdatedAfterPublishedVersion()}">
        <img th:src="@{/static/images/updated.png}" alt="Uppdaterad"/>
    </span>
    <span th:if="${entity.getDeleted()}">
        <img th:src="@{/static/images/trash.png}" alt="Borttagen"/>
    </span>
</span>

<th:block th:fragment="show-common-items">
    <li class="fieldcontain">
        <span id="uniqueid-label" class="property-label">Id</span>
        <span class="property-value" aria-labelledby="uniqueid-label" th:text="${instance.id}"></span>
    </li>

    <li th:if="${instance.pubVersion}" class="fieldcontain">
        <span id="pubVersion-label" class="property-label">Publicerad version</span>
        <span class="property-value" aria-labelledby="pubVersion-label" th:text="${instance.pubVersion}"></span>
    </li>

    <li th:if="${instance.updatedTime}" class="fieldcontain">
        <span id="updatedTime-label" class="property-label">Uppdaterad den</span>
        <span class="property-value" aria-labelledby="updatedTime-label"
              th:text="${#dates.format(instance.updatedTime, 'yyyy-MM-dd')}"></span>
    </li>

    <li th:if="${instance.updatedBy}" class="fieldcontain">
        <span id="updatedBy-label" class="property-label">Uppdaterad av</span>
        <span class="property-value" aria-labelledby="updatedBy-label" th:text="${instance.updatedBy}"></span>
    </li>

    <li th:if="${instance.deleted}" class="fieldcontain">
        <span id="deleted-label" class="property-label">Borttagen</span>
        <span class="property-value" aria-labelledby="deleted-label">Ja</span>
    </li>
</th:block>

<span th:fragment="listFilter">
    <form method="GET" th:action="@{${basePath}}" th:object="${list}">
        <fieldset class="listFilter">
            <legend>Filtrera lista</legend>
            <span id="filters">
                <div th:each="filter, status : *{filters}">
                    <select name="filterFields">
                        <option th:each="ffo : *{filterFieldOptions}"
                                th:value="${ffo.key}"
                                th:text="${ffo.value}"
                                th:selected="${ffo.key==filter.field}" >
                        </option>
                    </select>
                    <select name="filterConditions">
                        <option value="contains" th:selected="${filter.condition=='contains'}">Innehåller</option>
                        <option value="begins" th:selected="${filter.condition=='begins'}">Börjar med</option>
                        <option value="equals" th:selected="${filter.condition=='equals'}">Lika med</option>
                        <option value="exists" th:selected="${filter.condition=='exists'}">Existerar</option>
                    </select>
                    <input type="text" maxlength="50" name="filterTexts" th:value="${filter.text}">
                    <input type="button" value="Ta bort" onclick="removeFilter(this)"/>
                </div>
            </span>
            <div>
                <input type="button" value="Lägg till filter" onclick="addFilter()"/>
                <input type="submit" id="filterButton" value="Uppdatera"/>
            </div>
        </fieldset>
    </form>
    <div id="newFilter" hidden>
        <select name="filterFields">
            <option th:each="ffo : ${list.filterFieldOptions}"
                    th:value="${ffo.key}"
                    th:text="${ffo.value}">
            </option>
        </select>
        <select name="filterConditions">
            <option value="contains">Innehåller</option>
            <option value="begins">Börjar med</option>
            <option value="equals">Lika med</option>
            <option value="exists">Existerar</option>
        </select>
        <input type="text" maxlength="50" name="filterTexts">
        <input type="button" value="Ta bort" onclick="removeFilter(this)"/>
    </div>
    <script language="JavaScript">
    function addFilter() {
        let prototype = document.getElementById("newFilter");
        let copy = prototype.cloneNode(true);
        copy.removeAttribute("id");
        copy.removeAttribute("hidden");
        document.getElementById("filters").appendChild(copy);
    }

    function removeFilter(e) {
        e.parentNode.remove();
    }
    </script>
</span>

<th scope="col" th:fragment="selectAllTableHeader">
    <input type="checkbox" id="tableHeaderCheckbox" title="Välj alla på sidan"
           onclick="var checked = this.checked;
           var elements = document.getElementsByName('toDelete');
           for (let i = 0; i < elements.length; i++) { elements[i].checked = checked; }">
</th>

<th scope="col" class="sortable" th:fragment="sortableTableHeader (field, heading)"
    th:classappend="${list.sortBy == field ? (list.sortDesc ? 'sorted desc' : 'sorted asc') : ''}">
    <a th:href="@{${basePath}(sortBy=${field},
    sortDesc=${list.sortBy == field ? !list.sortDesc : 'false'},
    filterFields=${list.filterFields},
    filterConditions=${list.filterConditions},
    filterTexts=${list.filterTexts})}"
    th:text="${heading}"></a>
</th>

<div class="pagination" th:fragment="pagination">
    <th:block th:each="p,status : ${#numbers.sequence( 1, list.totalPages, 1)}">
        <th:block th:switch="${p}">
            <span th:case="${list.number}" class="currentStep" th:text="${p}"></span>
            <a th:case="1" th:href="@{${basePath}(offset=${list.max*(p-1)},max=${list.max}, filterFields=${list.filterFields}, filterConditions=${list.filterConditions}, filterTexts=${list.filterTexts}, sortBy=${list.sortBy}, sortDesc=${list.sortDesc})}"
               class="step" th:text="${p}"></a>
            <a th:case="${list.totalPages}" th:href="@{${basePath}(offset=${list.max*(p-1)},max=${list.max}, filterFields=${list.filterFields}, filterConditions=${list.filterConditions}, filterTexts=${list.filterTexts}, sortBy=${list.sortBy}, sortDesc=${list.sortDesc})}"
               class="step" th:text="${p}"></a>
            <span th:case="${list.number-5}" class="step gap">..</span>
            <span th:case="${list.number+5}" class="step gap">..</span>
            <a th:case="*" th:unless="${p < list.number-5 || p > list.number+5}"
               th:href="@{${basePath}(offset=${list.max*(p-1)},max=${list.max}, filterFields=${list.filterFields}, filterConditions=${list.filterConditions}, filterTexts=${list.filterTexts}, sortBy=${list.sortBy}, sortDesc=${list.sortDesc})}"
               class="step" th:text="${p}"></a>
        </th:block>
    </th:block>
</div>

<span th:fragment="message-banner">
    <ul th:if="${errors != null}" class="errors" role="alert">
        <li th:each="err : ${errors}" th:text="${err}"></li>
    </ul>
    <div th:if="${message != null}" class="message" role="status" th:text="${message}"></div>
</span>

<ul th:if="${#fields.hasAnyErrors()}" class="errors" role="alert" th:fragment="errors-list">
    <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
</ul>

<!-- Select2 Initialization -->
<div th:fragment="select2-selector-init">
    <script th:src="@{/static/js/jquery-1.12.4.min.js}"></script>
    <link th:href="@{/static/css/select2/select2.css}" rel="stylesheet" />
    <script th:src="@{/static/js/select2/select2.min.js}"></script>
    <script>
        $(document).ready(function() {
            $('.tak-web-select2-selector').select2();
        });
    </script>
</div>

</html>