<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="logo" th:fragment="header">
    <table border="0" cellpadding="3" cellspacing="3" style="background: ${grailsApplication.config.tak.background}">
        <tr style="background: ${grailsApplication.config.tak.background}">
            <td><img src="/static/images/inera-logo.png" alt="Inera" height="100px"/></td>
            <td><p align="right">Version <!--<g:meta name="app.version"/>--><br />Milj&ouml; <!--${grailsApplication.config.tak.environment}--></p></td>
        </tr>
        <!--<shiro:isLoggedIn>
        <tr style="background: ${grailsApplication.config.tak.background}">
            <td><g:message code="login.signedInAs" default="Signed in as" />: <shiro:principal/> (<g:link controller="auth" action="signOut"><g:message code="login.signOut" default="Sign out" /></g:link>)</td>
        </tr>
    </shiro:isLoggedIn>-->
    </table>
</div>
</body>
</html>