<!-- Copyright © 2023 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- DISPLAYS LIST OF ADDED OR CHANGED ITEMS, USED ON THE 'SHOW'-PAGE -->
<div th:fragment="list-changes">
  <h2>Ändrade objekt</h2>

  <table>
    <block th:insert="this :: common-tablehead"></block>

    <tbody>
      <tr th:each="entry : ${rivTaProfil_pubVerChanges}" th:with="type_label=${'RivTaProfil'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${tjanstekontrakt_pubVerChanges}" th:with="type_label=${'Tjänstekontrakt'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${tjanstekomponent_pubVerChanges}" th:with="type_label=${'Tjänstekomponent'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${logiskAdress_pubVerChanges}" th:with="type_label=${'Logisk Adress'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${anropsAdress_pubVerChanges}" th:with="type_label=${'Anropsadress'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${vagval_pubVerChanges}" th:with="type_label=${'Vägval'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${anropsBehorighet_pubVerChanges}" th:with="type_label=${'Anropsbehörighet'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${filter_pubVerChanges}" th:with="type_label=${'Filter'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
      <tr th:each="entry : ${filterCategorization_pubVerChanges}" th:with="type_label=${'Filterkategorisering'}">
        <block th:insert="this :: common-show-notdeleted-entry"></block>
      </tr>
    </tbody>
  </table>
</div>

<!-- DISPLAYS LIST OF DELETED ITEMS, USED ON THE 'SHOW'-PAGE -->
<div th:fragment="list-deletions">
  <h2>Raderade objekt</h2>

  <table>
    <div th:insert="this :: common-tablehead"></div>

    <tbody>
      <tr th:each="entry : ${rivTaProfil_pubVerChanges}" th:with="type_label=${'RivTaProfil'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${tjanstekontrakt_pubVerChanges}" th:with="type_label=${'Tjänstekontrakt'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${tjanstekomponent_pubVerChanges}" th:with="type_label=${'Tjänstekomponent'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${logiskAdress_pubVerChanges}" th:with="type_label=${'Logisk Adress'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${anropsAdress_pubVerChanges}" th:with="type_label=${'Anropsadress'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${vagval_pubVerChanges}" th:with="type_label=${'Vägval'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${anropsBehorighet_pubVerChanges}" th:with="type_label=${'Anropsbehörighet'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${filter_pubVerChanges}" th:with="type_label=${'Filter'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
      <tr th:each="entry : ${filterCategorization_pubVerChanges}" th:with="type_label=${'Filterkategorisering'}">
        <block th:insert="this :: common-show-deleted-entry"></block>
      </tr>
    </tbody>
  </table>
</div>

<!-- DISPLAYS LIST OF NEWLY CREATED ITEMS, USED ON THE 'CREATE'-PAGE -->
<div th:fragment="list-pubpreview-creations">
  <h2>Nyligt Skapade Objekt</h2>

  <table>
    <div th:insert="this :: common-tablehead-withchecks"></div>

    <tbody>
    <tr th:each="entry : ${rivTaProfil_pubVerChanges}" th:with="type_label=${'RivTaProfil'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${tjanstekontrakt_pubVerChanges}" th:with="type_label=${'Tjänstekontrakt'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${tjanstekomponent_pubVerChanges}" th:with="type_label=${'Tjänstekomponent'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${logiskAdress_pubVerChanges}" th:with="type_label=${'Logisk Adress'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${anropsAdress_pubVerChanges}" th:with="type_label=${'Anropsadress'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${vagval_pubVerChanges}" th:with="type_label=${'Vägval'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${anropsBehorighet_pubVerChanges}" th:with="type_label=${'Anropsbehörighet'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${filter_pubVerChanges}" th:with="type_label=${'Filter'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    <tr th:each="entry : ${filterCategorization_pubVerChanges}" th:with="type_label=${'Filterkategorisering'}">
      <block th:insert="this :: common-publish-newlycreated-entry"></block>
    </tr>
    </tbody>
  </table>
</div>

<!-- DISPLAYS LIST OF UPDATED ITEMS, USED ON THE 'CREATE'-PAGE -->
<div th:fragment="list-pubpreview-updates">
  <h2>Uppdaterade Objekt</h2>

  <table>
    <div th:insert="this :: common-tablehead-withchecks"></div>

    <tbody>
    <tr th:each="entry : ${rivTaProfil_pubVerChanges}" th:with="type_label=${'RivTaProfil'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${tjanstekontrakt_pubVerChanges}" th:with="type_label=${'Tjänstekontrakt'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${tjanstekomponent_pubVerChanges}" th:with="type_label=${'Tjänstekomponent'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${logiskAdress_pubVerChanges}" th:with="type_label=${'Logisk Adress'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${anropsAdress_pubVerChanges}" th:with="type_label=${'Anropsadress'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${vagval_pubVerChanges}" th:with="type_label=${'Vägval'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${anropsBehorighet_pubVerChanges}" th:with="type_label=${'Anropsbehörighet'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${filter_pubVerChanges}" th:with="type_label=${'Filter'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${filterCategorization_pubVerChanges}" th:with="type_label=${'Filterkategorisering'}">
      <block th:insert="this :: common-publish-updatedafterpublish-entry"></block>
    </tr>
    </tbody>
  </table>
</div>

<!-- DISPLAYS LIST OF DELETED ITEMS, USED ON THE 'CREATE'-PAGE -->
<div th:fragment="list-pubpreview-deletions">
  <h2>Raderade Objekt</h2>

  <table>
    <div th:insert="this :: common-tablehead-withchecks"></div>

    <tbody>
    <tr th:each="entry : ${rivTaProfil_pubVerChanges}" th:with="type_label=${'RivTaProfil'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${tjanstekontrakt_pubVerChanges}" th:with="type_label=${'Tjänstekontrakt'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${tjanstekomponent_pubVerChanges}" th:with="type_label=${'Tjänstekomponent'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${logiskAdress_pubVerChanges}" th:with="type_label=${'Logisk Adress'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${anropsAdress_pubVerChanges}" th:with="type_label=${'Anropsadress'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${vagval_pubVerChanges}" th:with="type_label=${'Vägval'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${anropsBehorighet_pubVerChanges}" th:with="type_label=${'Anropsbehörighet'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${filter_pubVerChanges}" th:with="type_label=${'Filter'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    <tr th:each="entry : ${filterCategorization_pubVerChanges}" th:with="type_label=${'Filterkategorisering'}">
      <block th:insert="this :: common-publish-deletedafterpublish-entry"></block>
    </tr>
    </tbody>
  </table>
</div>

<!-- BELOW ARE COMMON SHARED STRUCTURES BETWEEN THE TABLES. -->

<thead th:fragment="common-tablehead">
  <th width="15%">Typ</th>
  <th width="70%">Etikett</th>
  <th width="15%">Utförd Av</th>
</thead>

<thead th:fragment="common-tablehead-withchecks">
<th width="2%">☑</th>
<th width="15%">Typ</th>
<th width="68%">Etikett</th>
<th width="15%">Utförd Av</th>
</thead>

<!-- BELOW ARE PER-LINE FOR OBJECTS THAT ARE PART OF A PUB-VERSION -->

<block th:fragment="common-show-notdeleted-entry" th:if="${!entry.isDeletedInPublishedVersion()}">
  <td th:text="${type_label}"></td>
  <td th:text="${entry.getPublishInfo()}"></td>
  <td th:text="${entry.getUpdatedBy()}"></td>
</block>

<block th:fragment="common-show-deleted-entry" th:if="${entry.isDeletedInPublishedVersion()}">
  <td th:text="${type_label}"></td>
  <td th:text="${entry.getPublishInfo()}"></td>
  <td th:text="${entry.getUpdatedBy()}"></td>
</block>

<block th:fragment="common-publish-newlycreated-entry" th:if="${entry.isNewlyCreated()}">
  <td><input type="checkbox" th:checked="${entry.getUpdatedBy()?.equalsIgnoreCase(currentUsername)}" name="cb" disabled=""></td>
  <td th:text="${type_label}"></td>
  <td th:text="${entry.getPublishInfo()}"></td>
  <td th:text="${entry.getUpdatedBy()}"></td>
</block>

<block th:fragment="common-publish-updatedafterpublish-entry" th:if="${entry.isUpdatedAfterPublishedVersion()}">
  <td><input type="checkbox" th:checked="${entry.getUpdatedBy()?.equalsIgnoreCase(currentUsername)}" name="cb" disabled=""></td>
  <td th:text="${type_label}"></td>
  <td th:text="${entry.getPublishInfo()}"></td>
  <td th:text="${entry.getUpdatedBy()}"></td>
</block>

<block th:fragment="common-publish-deletedafterpublish-entry" th:if="${entry.isDeletedAfterPublishedVersion()}">
  <td><input type="checkbox" th:checked="${entry.getUpdatedBy()?.equalsIgnoreCase(currentUsername)}" name="cb" disabled=""></td>
  <td th:text="${type_label}"></td>
  <td th:text="${entry.getPublishInfo()}"></td>
  <td th:text="${entry.getUpdatedBy()}"></td>
</block>

<block th:fragment="common-perObjectLine-texts">
  <td th:text="${entry.getPublishInfo()}"></td>
  <td th:text="${entry.getUpdatedBy()}"></td>
</block>

</html>