<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Dates</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<h1>Select Start and End Dates</h1>

<form th:action="@{/pubversion/search}" method="post">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" name="startDate" required />
    </div>
    <div>
        <label for="endDate">End Date:</label>
        <input type="text" id="endDate" name="endDate" required />
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>

</body>
</html>