<!-- Copyright © 2023 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">

<head>
    <title>Publicerade versioner - Lista</title>
    <th:block th:insert="~{fragments/layout::css}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<!--<body th:attr="onload=${startDate != null} ? 'addFilter()' : ''">-->

<div th:insert="~{fragments/layout::header}"/>
<div class="nav" role="navigation">
    <ul>
        <li><a class="home" th:href="@{/}">Hem</a></li>
        <li><a class="create" th:href="@{${basePath} + '/create'}">Granska publicering</a></li>
    </ul>
</div>

<div id="list-pubVersions" class="content scaffold-list" role="main">
    <h1>Publicerade versioner - Lista</h1>

    <div th:insert="~{fragments/crud::message-banner}"/>

    <div class="content">
        <p><strong>Reset cache:</strong> En Reset cache till en viss version innebär att den versionen används i
            tak-services.
            Databasen kommer att förbli oförändrad och en normal Reset cache kommer att göra att senaste Publicerade
            versionen används igen.</p>
        <p><strong>Rollback:</strong> En Rollback innebär att databasen sätter poster som var förändrade i den
            Publicerade versionen till icke publicerade.
            Den näst senaste publicerade filen kommer då att användas vid en vanlig Reset cache. Reset cache görs ej
            automatiskt vid Rollback.
            En Rollback innebär inte nödvändigtvis att posterna som sätts som icke publicerade motsvarar det som fanns i
            den Publicerade versionen.</p>
    </div>

    <form method="GET" th:action="@{${basePath}}" th:object="${list}">
        <fieldset class="listFilter">
            <legend>Filtera lista</legend>
            <div class="listFilter-rows" id="filterElement" th:attr="style=${startDate != null} ? 'display:block':'display:none'">
                <div class="filter-row">
                    <label for="utforare">Utförare</label>
                    <select id="utforare" name="utforare" required>
                        <option value="all">alla</option>
                        <option th:each="u : ${utforareList}"
                                th:value="${u}"
                                th:text="${u}">
                        </option>
                    </select>
                </div>
                <div class="filter-row">
                    <label for="startDate">Från</label>
                    <input type="date" id="startDate" name="startDate" th:value="${startDate}"
                           placeholder="yyyy-mm-dd" required>
                </div>
                <div class="filter-row">
                    <label for="endDate">Till</label>
                    <input type="date" id="endDate" name="endDate" th:value="${endDate}"
                           placeholder="yyyy-mm-dd" required>
                </div>
                <div class="filter-row">
                    <input type="button" value="Ta bort" onclick="redirectToPage()"/>
                </div>
            </div>
            <div class="filter-buttons">
                <input type="button" id="addFilterButton" value="Lägg till filter" onclick="addFilter()"/>
                <input type="submit" id="update" value="Uppdatera" onclick="showSearchResult()"/>
            </div>
        </fieldset>
    </form>

    <table>
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">PV</th>
            <th scope="col">Kommentar</th>
            <th scope="col">Datum</th>
            <th scope="col">Utförare</th>
            <th scope="col">Storlek</th>
            <th scope="col">Ladda ner</th>
            <th scope="col">Funktioner</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="entity,status : ${list.content}" th:class="${status.even}? 'even' : 'odd'">
            <td><a th:href="@{${basePath} + '/' + ${entity.id}}">Visa</a></td>
            <td><a th:href="@{${basePath} + '/' + ${entity.id}}" th:text="${entity.id}"></a></td>
            <td th:text="${entity.kommentar}"></td>
            <td th:text="${#dates.format(entity.time, 'yyyy-MM-dd')}"></td>
            <td th:text="${entity.utforare}"></td>
            <td th:text="${entity.storlek / 1024} + ' kB'"></td>
            <td><a th:href="@{${basePath} + '/download/' + ${entity.id}}"><img th:src="@{/static/images/download.png}"
                                                                               alt="Nedladdning"/></a></td>
            <td>
                <a th:href="${'/tak-services/reset/pv?version=' + entity.id}">Reset cache</a>
                <span th:if="${list.offset == 0 && status.index == 0}"> | <a
                        th:href="@{'/pubversion/rollback/' + ${entity.id}}">Rollback</a></span>
            </td>

        </tr>
        </tbody>

    </table>

    <div th:insert="~{fragments/crud::pagination}"/>
</div>

<style>

    <!--            CSS styling for search filter START -->
    .listFilter {
        display: flex;
        flex-direction: column;
    }

    .listFilter-rows {
        display: flex;
        align-items: end;
    }

    .filter-row {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-right: 10px;
    }

    label {
        margin-right: 10px;
    }

    input[type="text"] {
        width: 150px;
        color: lightgrey;
    }

        input[type="text"]:focus {
        color: black;
    }

    .filter-buttons {
        margin-top: 10px;
    }

    fieldset.listfilter {
        margin: 0px;
    }
                <!--            CSS styling for search filter END -->
</style>

<script language="JavaScript">





    function addFilter() {

     document.getElementById("filterElement").style.display = "block";
    }




    function showSearchResult() {
        document.getElementById("addFilterButton").classList.add("hidden");

    }


    <!-- Redirect link START -->

      function redirectToPage() {
      let dynamicUrl = /*[[${basePath}]]*/ '/pubversion';
       window.location.href = dynamicUrl;
        }

    <!-- Redirect link END -->

</script>
</body>
</html>