<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="${entityName}"></title>
    <th:block th:insert="fragments/layout :: css"/>
</head>
<body>
<div th:insert="fragments/layout :: header"/>
<div th:insert="fragments/crud :: navigation-show-edit"/>
<div id="show-tjanstekomponent" class="content scaffold-show" role="main">
    <h1 th:text="${entityName}"></h1>
    <div th:insert="fragments/crud :: message-banner"></div>

    <ol class="property-list">
        <li class="fieldcontain">
            <span id="namnrymd-label" class="property-label">HSA-ID</span>
            <span class="property-value" aria-labelledby="namnrymd-label" th:text="${instance.hsaId}"></span>
        </li>

        <li class="fieldcontain">
            <span id="beskrivning-label" class="property-label">Beskrivning</span>
            <span class="property-value" aria-labelledby="beskrivning-label" th:text="${instance.beskrivning}"></span>
        </li>

        <li class="fieldcontain">
            <span id="anropsbehorigheter-label" class="property-label">Anropsbehörigheter</span>

            <th:block th:each="entity : ${instance.anropsbehorigheter}">
                <span th:unless="${entity.isDeletedInPublishedVersion()}"
                      class="property-value"
                      aria-labelledby="anropsbehorigheter-label">
                    <span th:insert="fragments/crud :: chooseEntityIcon"></span>
                    <a th:href="@{'/anropsbehorighet/' + ${entity.id}}" th:text="${entity.toString()}"></a>
                </span>
            </th:block>
        </li>

        <li class="fieldcontain">
            <span id="anropsadresser-label" class="property-label">Anropsadresser</span>

            <th:block th:each="entity : ${instance.AnropsAdresser}">
                <span th:unless="${entity.isDeletedInPublishedVersion()}"
                      class="property-value"
                      aria-labelledby="anropsadresser-label">
                    <span th:insert="fragments/crud :: chooseEntityIcon"></span>
                    <a th:href="@{'/anropsadress/' + ${entity.id}}" th:text="${entity.toString()}"></a>
                </span>
            </th:block>
        </li>

        <th:block th:replace="fragments/crud :: show-common-items"/>
    </ol>

    <form method="POST" th:action="@{/tjanstekomponent/delete}">
        <fieldset class="buttons">
            <input type="hidden" name="id" th:value="${instance.id}"/>
            <a th:href="@{'/tjanstekomponent/edit/' + ${instance.id}}" class="edit">Redigera</a>
            <input th:unless="${instance.deleted}" type="submit" class="delete" value="Ta bort"
                   onclick="return confirm('Är du säker?');"/>
        </fieldset>
    </form>
</div>
</body>
</html>
