<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-30c - %m%n" />
		</layout>
	</appender>

	<!--
		Loglevels: {OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL} See:
		http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Level.html
	-->
	
	<logger name="se.skl.tp.vagval.admin.services">
		<level value="DEBUG" />
	</logger>
	    
    <!-- Monitoring logs to separate log file, additivity makes sure not logged twice -->
    <logger name="se.skl.tp.vagval.monitoring" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE"/>
    </logger>
	
	<root>
		<priority value="WARN" />

		<appender-ref ref="CONSOLE" />
		
	</root>
</log4j:configuration>
