<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<fieldset class="form" th:fragment="filterCategorizationForm">

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('filter')}? 'error'">
        <label for="filter">Filter
        </label>

        <!-- var is filter -->
        <select class="form-control" id="filter" name="options">
            <option value="0">Välj Filter</option>
            <option th:each="option : ${options}"
                    th:value="${option}"
                    th:text="${option}">
                <!-- th:selected="${option.equals(instance.option)}"> -->
            </option>
        </select>
    </div>

    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('category')}? 'error'">
        <label for="category">Kategorinamn
        </label>
        <input th:field="*{category}" id="category" type="text" size="40" maxlength="255" required="">
    </div>

</fieldset>