<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">

<fieldset class="form" th:fragment="entityForm">

    <!-- Select2 Initialization (needed per page) -->
    <div th:replace="~{fragments/crud::select2-selector-init}"></div>

    <!-- SELECT 2 SELECTOR -->
    <!-- FILTER -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('filter')}? 'error'">
        <label for="select-filter">Filter
        </label>

        <select class="tak-web-select2-selector" id="select-filter" name="filter"
                th:with="selection = ${preSelect_filter}? ${preSelect_filter_value} : ${instance.filter?.id}">
            <option th:each="option : ${filter_selectable_options}"
                    th:value="${option.id}"
                    th:text="${option}"
                    th:selected="${option.id.equals(selection)}">
            </option>
        </select>
    </div>

    <!-- SINGLE ROW INPUT -->
    <!-- KATEGORINAMN -->
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('category')}? 'error'">
        <label for="category">Kategorinamn
        </label>
        <input th:field="*{category}" id="category" type="text" size="40" maxlength="255" required="">
    </div>

</fieldset>