<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">


<fieldset class="form" th:fragment="anvandareForm" th:object="${instance}">
    <legend>Användarinformation</legend>
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('anvandarnamn')} ? 'error'">
        <label for="anvandarnamn"> Användarnamn <span class="required-indicator">*</span>
        </label><input id="anvandarnamn" type="text" th:field="*{anvandarnamn}" required />
    </div>

    <div class="fieldcontain" th:classappend="${#fields.hasErrors('administrator')} ? 'error'">
        <label for="administrator">Administratör</label>
        <input id="administrator" type="checkbox" th:field="*{administrator}" />
    </div>

    <div class="fieldcontain" th:classappend="${#fields.hasErrors('losenord')} ? 'error'">
        <label for="losenord">Lösenord</label>
        <input id="losenord" type="password"
               th:field="*{losenord}"
               th:attrappend="required=${instance.id == 0} ? 'required'"
               th:attr="placeholder=${instance.id == 0} ? 'Fyll i lösenord' : 'Lämna tomt för att inte ändra'" />
    </div>
</fieldset>

</fieldset>