<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="'Redigera ' + ${entityName}"></title>
    <th:block th:insert="~{fragments/layout::css}" />
</head>
<body>
<div th:insert="~{fragments/layout::header}" />
<div th:insert="~{fragments/crud::navigation-show-edit}" />
<div id="edit-anvandare" class="content scaffold-edit" role="main">
    <h1>Redigera Användare</h1>
    <span th:if="${message != null}">
			    <div class="message" role="status" th:text="${message}"></div>
			</span>
    <form method="POST" th:action="@{/anvandare/update}" th:object="${instance}">
        <ul th:if="${#fields.hasAnyErrors()}" class="errors" role="alert">
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </ul>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <fieldset th:replace="anvandare/_form :: anvandareForm"/>
        <fieldset class="buttons">
            <input type="submit" class="save" value="Uppdatera"/>
        </fieldset>
    </form>
</div>
</body>
</html>