<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="${entityName} + ' - Lista'"></title>
    <th:block th:insert="fragments/layout :: css"/>
</head>
<body>
<div th:insert="fragments/layout :: header"/>
<div th:insert="fragments/crud :: navigation-show-edit"/>
<div id="show-anvandare" class="content scaffold-show" role="main">
    <h1>Användare</h1>
    <span th:if="${message != null}">
			    <div class="message" role="status" th:text="${message}"></div>
			</span>
    <ol class="property-list anvandare">

        <li class="fieldcontain">
            <span id="anvandarnamn-label" class="property-label">Användarnamn</span>
            <span class="property-value" aria-labelledby="anvandarnamn-label" th:text="${instance.anvandarnamn}"></span>
        </li>

        <li class="fieldcontain">
            <span id="administrator-label" class="property-label">Administratör</span>
            <span class="property-value" aria-labelledby="administrator-label"
                  th:text="${instance.administrator}? 'Ja' : 'Nej'"></span>
        </li>
    </ol>
    <form method="POST" th:action="@{/anvandare/delete}">
        <fieldset class="buttons">
            <input type="hidden" name="id" th:value="${instance.id}"/>
            <input type="hidden" name="version" th:value="${instance.version}"/>
            <a th:href="@{'/anvandare/edit/' + ${instance.id}}" class="edit">Redigera</a>
            <input type="submit" class="delete" value="Ta bort" onclick="return confirm('Är du säker?');"/>
        </fieldset>
    </form>
</div>
</body>
</html>
