<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="'Logga in till Ineras Tjänstekatalog (' + ${@configurationService.getPlatform() + ')'}"></title>
    <th:block th:insert="~{fragments/layout::css}" />
</head>
<body>
<div th:insert="~{fragments/layout::header}" />
<div class="body">
    <h1 style="margin-left:20px;">Omdirigerar till inloggning...</h1>
</div>
<script>
    window.location.href = '/tak-web/oauth2/authorization/keycloak';
</script>
</body>
</html>
