<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title th:text="'Logga in till Ineras Tjänstekatalog (' + ${@configurationService.getPlatform() + ')'}"></title>
    <th:block th:insert="~{fragments/layout::css}" />
</head>
<body OnLoad="document.signInForm.username.focus();">
<div th:insert="~{fragments/layout::header}" />
<div class="body">
    <h1 style="margin-left:20px;">Logga in till Ineras Tjänstekatalog</h1>
    <br/>
    <span th:if="${message != null}">
                <div class="message" role="status" th:text="${message}"></div>
            </span>
    <form name="signInForm" th:action="@{/auth/signIn}" method="post">
        <fieldset class="form">
            <div class="fieldcontain">
                <label for="username">Användare</label>
                <input type="text" name="username" required="" th:value="${username}"/>
            </div>
            <div class="fieldcontain">
                <label for="username">Lösenord</label>
                <input type="password" name="password" required="" value=""/>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" value="Logga in"/>
        </fieldset>
    </form>
</div>
<script language="JavaScript">
        document.signInForm.username.focus();

</script>
</body>
</html>
