<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
        <!-- 
                JNDI Configuration for Tjanstekatalogen
         -->
    <Resource 
	name="jdbc/TP" 
	auth="Container" 
	type="javax.sql.DataSource"
	maxTotal="10"
	maxIdle="5" 
	maxWaitMillis="10000" 
	username="${tak.database.username}"
	password="${tak.database.password}"
	driverClassName="com.mysql.cj.jdbc.Driver" 
	url="jdbc:mysql://${tak.database.server}:${tak.database.port}/${tak.database.scheme}?autoReconnect=true&amp;useSSL=false&amp;requireSSL=false&amp;verifyServerCertificate=false"
	validationQuery="select 1"
    />
    <Resource name="mailSession"
              auth="Container"
              type="javax.mail.Session"
              mail.debug="false"
              mail.hostname="mailout.sth.basefarm.net"
              mail.transport.protocol="smtp"
              mail.smtp.host="mailout.sth.basefarm.net"
              mail.smtp.auth="false"
              mail.smtp.EnableSSL.enable="false"
              mail.smtp.socketFactory.fallback="false"
              mail.smtp.port="25"
              mail.smtp.socketFactory.port="25"
    />
</Context>
