<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">

<head>
    <title th:text="${entityName} + ' - Lista'"></title>
    <th:block th:insert="fragments/layout :: css"/>
</head>
<body>
<div th:insert="fragments/layout :: header"></div>
<div th:insert="fragments/crud :: navigation-list"></div>
<div id="list-anropsbehorighet" class="content scaffold-list" role="main">
    <h1 th:text="${entityName} + ' - Lista'"></h1>

    <div th:insert="fragments/crud :: message-banner"></div>
    <div th:insert="fragments/crud :: listFilter"></div>
    <table>
        <thead>
        <tr>
            <th scope="col"class="rightmostColumn"></th>
            <th scope="col" class="rightmostColumn">PV</th>
            <th scope="col">Integrationsavtal</th>
            <th scope="col">Tjanstekonsument</th>
            <th scope="col">Tjanstekontrakt</th>
            <th scope="col">Logisk Adress</th>
            <th scope="col">From Tidpunkt</th>
            <th scope="col">Tom Tidpunkt</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity,status : ${list.content}" th:class="${status.even}? 'even' : 'odd'">
            <td>
                <a th:href="@{${basePath} + '/' + ${entity.id}}">Visa
                    <th:block th:insert="fragments/crud :: chooseEntityIcon"/>
                </a>
            </td>
            <td th:text="${entity.pubVersion}"></td>
            <td th:text="${entity.integrationsavtal}"></td>
            <td th:text="${entity.tjanstekonsument}"></td>
            <td th:text="${entity.tjanstekontrakt}"></td>
            <td th:text="${entity.logiskAdress}"></td>
            <td th:text="${entity.fromTidpunkt}"></td>
            <td th:text="${entity.tomTidpunkt}"></td>
        </tr>
        </tbody>
    </table>
    <div th:insert="fragments/crud :: pagination"></div>
    <!-- TODO: FILTER PANE? -->
</div>
</body>
</html>