<!-- Copyright © 2022 Inera.
     See attached license text-file for licensing and details. -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<fieldset class="form" th:fragment="rivTaProfilForm">
    <div class="fieldcontain required" th:classappend="${#fields.hasErrors('namn')}? 'error'">
        <label for="namn">
            Namn
            <span class="required-indicator">*</span>
        </label>
        <input th:field="*{namn}" type="text" size="40" maxlength="255" required="">
    </div>

    <div class="fieldcontain" th:classappend="${#fields.hasErrors('beskrivning')}? 'error'">
        <label for="beskrivning">
            Beskrivning
        </label>
        <textarea th:field="*{beskrivning}" cols="40" rows="5" maxlength="255"/>
    </div>
</fieldset>
</html>