<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-30c - %m%n" />
		</layout>
	</appender>

    <appender name="ROLLINGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${catalina.home}/logs/tak-services.log" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %-30c - %m%n" />
        </layout> 
    </appender>
    
     <!-- For PingForConfiguration logging only -->
     <appender name="ROLLINGFILE_MONITORING" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${catalina.home}/logs/tak-services-monitoring.log" />
        <param name="MaxFileSize" value="1000KB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %-30c - %m%n" />
        </layout> 
    </appender>
	<!--
		Loglevels: {OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL} See:
		http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Level.html
	-->
	
	<logger name="se.skltp.tak.services">
		<level value="INFO" />
	</logger>
	    
    <!-- Monitoring logs to separate log file, additivity makes sure not logged twice -->
    <logger name="se.skltp.tak.monitoring" additivity="false">
        <level value="INFO" />
        <appender-ref ref="ROLLINGFILE_MONITORING"/>
    </logger>
	
	<root>
		<priority value="WARN" />

		<appender-ref ref="ROLLINGFILE" />
		
	</root>
</log4j:configuration>
