<Configuration status="WARN" monitorInterval="30">

  <Properties>
    <Property name="LOG_DIR">${sys:catalina.base}/logs</Property>
    <Property name="LOG_PATTERN">%d %-5p [%t] %-30c - %X{corr.id} %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>

    <RollingFile name="ROLLINGFILE"
            fileName="${LOG_DIR}/tak-services.log"
            filePattern="${LOG_DIR}/tak-services.log.%i"
            ignoreExceptions="false">
      <PatternLayout>
        <Pattern>${LOG_PATTERN}</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy fileIndex="min" max="10" />
    </RollingFile>

    <RollingFile name="ROLLINGFILE_MONITORING"
                 fileName="${LOG_DIR}/tak-services-monitoring.log"
                 filePattern="${LOG_DIR}/tak-services-monitoring.log.%i"
                 ignoreExceptions="false">
      <PatternLayout>
        <Pattern>${LOG_PATTERN}</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy fileIndex="min" max="10" />
    </RollingFile>


  </Appenders>

  <Loggers>
    <Logger name="se.skltp.tak.services" level="INFO"/>

    <Logger name="se.skltp.tak.monitoring" level="INFO" additivity="false">
      <AppenderRef ref="ROLLINGFILE_MONITORING"/>
    </Logger>


    <Root level="WARN">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="ROLLINGFILE"/>
    </Root>

  </Loggers>
</Configuration>