<Configuration status="WARN" monitorInterval="30">

  <Properties>
    <Property name="LOG_DIR">${sys:catalina.base}/logs</Property>
    <Property name="LOG_PATTERN">%d %-5p [%t] %-30c - %X{corr.id} %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>

  </Appenders>

  <Loggers>
    <Logger name="se.skltp.tak.services" level="INFO" />
    <Logger name="se.skltp.tak.monitoring" level="INFO" additivity="false" />

    <Root level="INFO">
      <AppenderRef ref="CONSOLE"/>
    </Root>

  </Loggers>
</Configuration>